
<h1><%= @restaurant.name %></h1>
<p><strong>Address: </strong><%= @restaurant.address %></p>
<p><strong>Category: </strong><%= @restaurant.category %></p>
<p><strong>Phone number: </strong><%= @restaurant.phone_number %></p>
<%if @restaurant.reviews.present? %>
  <% @restaurant.reviews.each do |review|%>
      <p><strong>Feedback:</strong> <%=review.content%></p>
      <p><strong>Rating:</strong> <%=review.rating%></p>

  <% end %>
<% end %>
<p><%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: 'btn btn-warning' %></p>

<p><%= link_to "Back to the list", '/restaurants'%></p>


